.flexContainer {
  display: flex;
  height: 100%;
}

.mapContainer {
  width: 50%;
  height: calc(100vh - 400px); /* Subtrair a altura do cabeçalho */
  overflow: hidden; /* Impede o overflow para evitar a barra de rolagem vertical */
}

.map {
  width: 100%;
  height: 100%;

}

.infoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.graficoContainer {
  flex: 1;
  height: 50%; /* Ajuste conforme necessário */
  margin: 20px;
  
}

.info {
  flex: 1;
  padding: 16px; /* Ajuste conforme necessário */
  box-sizing: border-box;
}
.info {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.info h1 {
  color: #333;
}

.info strong {
  font-weight: bold;
}

.info span {
  margin-right: 5px;
}
